* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

/* CCS DEL HEADER */
.container-header {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header img {
    max-width: 70%;
    height: auto;
    padding: 10px;
}

.container-header ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 30px;
    font-size: small;
}


.container-header ul li {
    list-style-type: none;
    font-weight: bold;
}

.container-header ul li a {
    padding: 10px;
    transition: background 0.4s;
}

.container-header ul li a.active,
.container-header ul li a:hover {
    border-bottom: 3px solid #00aaff;
}

/* CSS DEL MAIN */
.container-main {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-content-main {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
}


/* CSS DEL FOOTER */
.container-footer {
    background-color: #00aaff;
    height: 100px;
    display: flex;
    align-items: center;
}

.container-size-footer {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
}

.ul-footer {
    display: flex;
    padding: 0;
    justify-content: space-around;
    list-style-type: none;
    font-weight: bold;
}

.li-footer {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: x-small;
}

.li-footer img {
    width: 35px;
    height: 45px;
}