* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

/* CCS DEL HEADER */
.container-header {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header img {
    max-width: 70%;
    height: auto;
    padding: 10px;
}

.container-header ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 30px;
    font-size: small;
}


.container-header ul li {
    list-style-type: none;
    font-weight: bold;
}

.container-header ul li a {
    padding: 10px;
}

.container-header ul li a.active,
.container-header ul li a:hover {
    border-bottom: 5px solid #00aaff;
    padding-bottom: 34px;
}

/* CSS DEL MAIN */
.container-main {
    background-color: black;
    padding: 40px 0;
}

.container-content-main {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.prod-card {
    width: calc(100% / 6 - 24px);
    background-color: black;
    color: white;
}

.prod-card img {
    width: 100%;
    display: block;
}

.prod-card h3 {
    font-size: 14px;
    margin-top: 8px;
}




/* CSS DEL FOOTER */
.container-footer-primo {
    background-color: #00aaff;
    height: 100px;
    display: flex;
    align-items: center;
}

.container-size-footer {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
}

.ul-footer {
    display: flex;
    padding: 0;
    justify-content: space-around;
    list-style-type: none;
    font-weight: bold;
}

.li-footer {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: x-small;
}

.li-footer img {
    width: 35px;
    height: 45px;
}

/* CSS FOOTER SECONDA PARTE */

.container-footer-secondo {
    background:
        url(/dc-logo-bg.png) no-repeat 80% 40% / 450px,
        url(/footer-bg.jpg) no-repeat center / cover;
}

.footer-lists {
    color: white;
    display: flex;
    padding-top: 40px;
}

.footer-list {
    min-width: 150px;
}

.footer-list h4 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-list ul {
    list-style: none;
    margin: 0 0 20px 0;
}

.footer-list a {
    color: grey;
    font-size: 12px;
    text-decoration: none;
}

.footer-list a:hover {
    color: #00aaff;
}


/* CSS FOOTER TERZA PARTE */
.container-footer-terzo {
    background-color: rgb(39, 38, 38);
    height: 100px;
    display: flex;
    align-items: center;
}

.container-ff {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-links h3 {
    color: #00aaff;
}

.container-ff button {
    color: white;
    background-color: rgb(39, 38, 38);
    border-color: #00aaff;
    padding: 10px;
}